button{
    transition: 0.4s all;
}

.btn-shared{
    width: 110px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
    position: relative;
    top:20%;
}


/* view-map button */
#btn-1 {
    background-color: #4caf50;
    color:white
}


/* Edit Link basically*/
#btn-2 {
    background-color: rgb(111, 111, 198);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* delete button */
#btn-3{
    background-color: red;
    color: white;
    position: relative;
}

.btn-shared:hover,
#btn-1:hover, 
#btn-2:hover, 
#btn-3:hover,
.submit-btn:hover, 
.helper-btn:hover{
    background-color: white;
    color:black;
    cursor: pointer;
}

.close-btn {
    float: right;
    background-color: red;
    color: white;
    margin-bottom: 15px;
}


.submit-btn{
    background-color: #4caf50;
    color: white;
    position: relative;
    left:5.6%;
    margin-right: 20px;
    margin-top: 8px;
}

.switch-btn{
    width:110px;
    background-color: red;
    color: white;
    position: relative;
    left:3%;
}


