.place-form{
    position: relative;
    left:29.5%;
    top:10%;
    margin-top:50px;
    padding: 20px;
    width:40vw;
    color: white;
    background-color: #131111;
    border-radius: 15px;
    box-shadow: 6px 6px 30px black;
    /* border:1px solid red; */
}


.form-control {
    margin: 8px 8px 8px 20px;
    padding: 8px;
}

.place-form h1{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin: 30px 0px 20px 0px;
}

.form-control p {
    color: red;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
}

.form-control label {
    font-family: Arial, sans-serif;
    margin: 3px 0px 3px 0px;
    padding: 3px 0px 5px 0px;
}

.form-control input {
    width: 82%;
    height: 40px;
    padding: 5px;
    border-radius: 8px;
}

.form-control textarea {
    width: 85%;
}





.when-no-place {
    display: flex;
    justify-content: center;
    align-items: center;
}