
*{
  margin: 0;
  padding: 0;
  font-size:large;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  background-color: #000000;
  border-radius: 0px 0px 1px 1px;
  color: white;
  height: 75px;
}

main{
  height: 100vh;
  width:100%;
  background-color: #212020;
  overflow: auto;
  /* border: 1px solid hotpink; */
}